@page "/"

<PageTitle>Ana Sayfa</PageTitle>

<h1>.NET Gerçek Hayat Sorunları / Çözümleri</h1>

<p>Bu proje <b>Taner Saydam</b> tarafından tasarlanmıştır.</p>
<p>Aşağıdaki bulunan hataları çözmeye çalışıp veya hata ve çözümüne bakarak gerçek hayatta ne tarz sorunlar olduğuna ufak bir bakış atabilirsiniz.</p>

<ol>
	<li>
		<a href="./ef-core-tracking-error">EF Core Tracking Hatası</a>
	</li>
</ol>